In [1]:
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
import decimal as dec
import re

In [2]:
movies = pd.read_csv('datasets/IMDb movies.csv', sep=";", encoding="latin1")
ratings = pd.read_csv('datasets/IMDb ratings.csv', sep=";")

#display(d1.head(10))
#display(d2.head(10))

In [3]:
dataset = pd.merge(movies, ratings, on="imdb_title_id", how="inner")
#display(dataset.head(5))

In [ ]:
#Visualização inicial

#print(dataset.shape) #Linhas e colunas do dataset
#print(dataset.describe()) #Min, max, média... de cada coluna
#dataset.describe(include="all()) #O mesmo, mas agora também para as colunas não numéricas
#print(dataset.info()) #Tipos de dados presentes + Contagem de valores não nulos
#print(dataset.isnull().sum())) #Contagem de valores nulos
#dataset.drop_duplicates() #Garantia de utilização de apenas valores únicos

In [ ]:
#Tratamento do tipo de dados

#Tratamento de floats
for coluna in dataset.select_dtypes(include=["float64"]).columns:
    dataset[coluna] = dataset[coluna].astype("float16")
    #if re.search(r"avg|rating|metascore|mean", coluna): 
        #dataset[coluna] = dataset[coluna].astype("float16")
    #else: 
        #dataset[coluna] = dataset[coluna].astype("int64")

#Tratamento de inteiros
for coluna in dataset.select_dtypes(include=["int64"]).columns:
    minimo = dataset[coluna].min()
    maximo = dataset[coluna].max()
    if minimo >= -128 and maximo <= 127:
        dataset[coluna] = dataset[coluna].astype("int8")
    elif minimo >= -32768 and maximo <= 32767:
        dataset[coluna] = dataset[coluna].astype("int16")
    elif minimo >= -2147483648 and maximo <= 2147483647:
        dataset[coluna] = dataset[coluna].astype("int32")

print(dataset.info()) #Para saber o novo tamanho do dataset e os tipos que mudaram (45,9MB orginalmente)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 70 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   imdb_title_id              85855 non-null  object
 1   title                      85855 non-null  object
 2   original_title             85855 non-null  object
 3   year                       85854 non-null  float16
 4   date_published             85855 non-null  object
 5   genre                      85855 non-null  object
 6   duration                   85855 non-null  int16
 7   country                    85791 non-null  object
 8   language                   84954 non-null  object
 9   director                   85768 non-null  object
 10  writer                     84283 non-null  object
 11  production_company         81400 non-null  object
 12  actors                     85786 non-null  object
 13  description                83740 non-null  object
 14  avg_vote                   85855 non-null  float16
 15  votes                      85855 non-null  int32
 16  budget                     23710 non-null  object
 17  usa_gross_income           15326 non-null  object
 18  worlwide_gross_income      31016 non-null  object
 19  metascore                  13305 non-null  float16
 20  reviews_from_users         78258 non-null  float16
 21  reviews_from_critics       74058 non-null  float16
 22  weighted_average_vote      85855 non-null  float16
 23  total_votes                85855 non-null  int32
 24  mean_vote                  85855 non-null  float16
 25  median_vote                85855 non-null  float16
 26  votes_10                   85855 non-null  int32
 27  votes_9                    85855 non-null  int32
 28  votes_8                    85855 non-null  int32
 29  votes_7                    85855 non-null  int32
 30  votes_6                    85855 non-null  int32
 31  votes_5                    85855 non-null  int32
 32  votes_4                    85855 non-null  int32
 33  votes_3                    85855 non-null  int32
 34  votes_2                    85855 non-null  int16
 35  votes_1                    85855 non-null  int32
 36  allgenders_0age_avg_vote   33359 non-null  float16
 37  allgenders_0age_votes      33359 non-null  float16
 38  allgenders_18age_avg_vote  85149 non-null  float16
 39  allgenders_18age_votes     85149 non-null  float16
 40  allgenders_30age_avg_vote  85845 non-null  float16
 41  allgenders_30age_votes     85845 non-null  float16
 42  allgenders_45age_avg_vote  85775 non-null  float16
 43  allgenders_45age_votes     85775 non-null  float16
 44  males_allages_avg_vote     85854 non-null  float16
 45  males_allages_votes        85854 non-null  float16
 46  males_0age_avg_vote        27411 non-null  float16
 47  males_0age_votes           27411 non-null  float16
 48  males_18age_avg_vote       84390 non-null  float16
 49  males_18age_votes          84390 non-null  float16
 50  males_30age_avg_vote       85843 non-null  float16
 51  males_30age_votes          85843 non-null  float16
 52  males_45age_avg_vote       85754 non-null  float16
 53  males_45age_votes          85754 non-null  float16
 54  females_allages_avg_vote   85774 non-null  float16
 55  females_allages_votes      85774 non-null  float16
 56  females_0age_avg_vote      22117 non-null  float16
 57  females_0age_votes         22117 non-null  float16
 58  females_18age_avg_vote     79334 non-null  float16
 59  females_18age_votes        79334 non-null  float16
 60  females_30age_avg_vote     84911 non-null  float16
 61  females_30age_votes        84911 non-null  float16
 62  females_45age_avg_vote     83057 non-null  float16
 63  females_45age_votes        83057 non-null  float16
 64  top1000_voters_rating      85176 non-null  float16
 65  top1000_voters_votes       85176 non-null  float16
 66  us_voters_rating           85646 non-null  float16
 67  us_voters_votes            85646 non-null  float16
 68  non_us_voters_rating       85854 non-null  float16
 69  non_us_voters_votes        85854 non-null  float16
dtypes: float16(42), int16(2), int32(11), object(15)
memory usage: 20.6+ MB
None

In [6]:
#Gráficos iniciais

#dataset["top1000_voters_rating"].hist(bins=30, edgecolor="black")
#plt.xlabel("Rating")
#plt.ylabel("Número de Entradas")
#plt.title("Distribuição de votos do top 1000")
#plt.show()

#plt.scatter(dataset["us_voters_rating"], dataset["non_us_voters_rating"], alpha=0.1)
#plt.xlabel("Voters US")
#plt.ylabel("Voters non US")
#plt.title("Dispersão US x non US")
#plt.show()